<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ini Halaman Profil</h1>
        
        <!-- PENYESUAIAN: Arahkan kembali ke beranda dan tambahkan link logout -->
        <br>
        <a href="{{ url_for('show_beranda') }}">Kembali ke Beranda</a> | 
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
