<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil {{ user['nama_lengkap'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        
        <h1>Halo, {{ user['nama_lengkap'] }}!</h1>
        <p class="username-tag">@{{ user['username'] }}</p>
        <p class="bio">{{ user['bio'] }}</p>

        <br>
        <!-- PENYESUAIAN: Arahkan kembali ke beranda dan tambahkan link logout -->
        <a href="{{ url_for('show_beranda') }}">Kembali ke Beranda</a>
    </div>
</body>
</html>
